@model Marketplace.Web.Areas.User.Models.Order.DetailsOrderViewModel

@{
    ViewBag.Title = "Информация о заказе (покупка)";
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}


<div class="page-info">
    <h2>Сообщения</h2>
    <p class="lead">Здесь отображается информация по входящим и исходящим сообщениям</p>
</div>
<div class="card-custom-account">
    @{await Html.RenderPartialAsync("_Menu"); }
    <div class="orders-container">
        <div class="back">
            <a href="javascript:history.go(-1)"><i class="fas fa-arrow-left"></i> <span>Назад</span> </a>
        </div>
        <div class="order-details-container">
            @if (TempData["orderBuyStatus"] != null)
            {
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-dismissible alert-success">
                            <span>Стстус заказа изменился: <span class="text-700">@Model.CurrentStatusName</span></span>
                        </div>
                    </div>
                </div>
            }
            <div class="order-details-head ">
                <div class="order-details-title">
                    <h4>Информащия о заказе</h4>
                </div>


            </div>
            <div class="order-details-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-dismissible alert-warning">
                            <span>Текущий статус заказа: <span class="text-700">@Model.CurrentStatusName</span></span>
                        </div>
                    </div>
                </div>
                <div class="order-details-row row">
                    <div class="order-details-col col-md-4">
                        <label>Предложение (Оффер)</label>
                    </div>
                    <div class="order-details-col col-md-8">
                        <span>@Html.ActionLink(Model.OfferHeader, "Details", "Offer", new { id = Model.OfferId }, null)</span>
                    </div>
                </div>
                <div class="order-details-row row">
                    <div class="order-details-col col-md-4">
                        <label>Продавец</label>
                    </div>
                    <div class="order-details-col col-md-8">
                        <span>@Html.ActionLink(Model.SellerName, "Info", "Profile", new { userName = Model.SellerName }, null)</span>
                    </div>
                </div>
                <div class="order-details-row row">
                    <div class="order-details-col col-md-4">
                        <label>Гарант</label>
                    </div>
                    <div class="order-details-col col-md-8">
                        <span>@Html.ActionLink(Model.ModeratorName ?? "Еще нет", "Info", "Profile", new { userName = Model.ModeratorName }, null)</span>
                    </div>
                </div>
                <div class="order-details-row row">
                    <div class="order-details-col col-md-4">
                        <label>Цена</label>
                    </div>
                    <div class="order-details-col col-md-8">

                        <span>@Html.DisplayFor(m => m.OfferPrice) + @Html.DisplayFor(m => m.MiddlemanPrice) (гарант)</span>
                    </div>
                </div>
                <div class="order-details-row row">
                    <div class="order-details-col col-md-12">


                        @if (Model.ShowAccountInfo)
                        {

                            <div class="alert alert-dismissible alert-primary">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label>Логин:</label>
                                        @Html.DisplayFor(m => m.AccountInfos.Last().Login)
                                    </div>
                                    <div class="col-lg-12">
                                        <label>Пароль:</label>
                                        @Html.DisplayFor(m => m.AccountInfos.Last().Password)
                                    </div>
                                    <div class="col-lg-12">
                                        <label>Почта:</label>
                                        @Html.DisplayFor(m => m.AccountInfos.Last().Email)
                                    </div>
                                    <div class="col-lg-12">
                                        <label>Пароль для почты:</label>
                                        @Html.DisplayFor(m => m.AccountInfos.Last().EmailPassword)
                                    </div>
                                    <div class="col-lg-12">
                                        <label>Дополнительная информация:</label>
                                        @Html.DisplayFor(m => m.AccountInfos.Last().AdditionalInformation)
                                    </div>
                                </div>
                            </div>


                        }
                        @if (Model.ShowConfirm)
                        {
                            <form asp-action="ConfirmOrder" asp-controller="Checkout" method="get">
                                @Html.HiddenFor(m => m.ModeratorId)
                                @Html.Hidden("Id", Model.Id)
                                <input type="submit" value="Подтвердить получение" class="btn btn-order-confirm mb-3" />
                            </form>
                            <form asp-action="Abort" asp-controller="Order" method="get">
                                @Html.HiddenFor(m => m.ModeratorId)
                                @Html.Hidden("Id", Model.Id)
                                <input type="submit" value="Прервать сделку" class="btn btn-order-confirm mb-3" />
                            </form>

                        }
                        else if (Model.ShowFeedbackToSeller)
                        {

                            <input id="orderId" value="@Model.Id" type="hidden" />
                            <input id="senderId" value="@Model.SellerId" type="hidden" />
                            <input id="givefeed" value="Оставить отзыв продавцу" class="btn btn-order-leavefeedback mb-3" />



                        }
                        @if (Model.ShowCloseButton)
                        {
                            using (Html.BeginForm("Close", "Order", FormMethod.Post, new { @onsubmit = "return confirm('Вы уверены, что хотите закрыть сделку?');" }))
                            {
                                <input type="hidden" name="id" value="@Model.Id" />
                                <input type="submit" name="Close" value="Закрыть сделку" class="btn btn-order-close mt-3" />
                            }

                        }

                        @if (Model.ShowPayButton)
                        {

                            using (Html.BeginForm("Paid", "Checkout", FormMethod.Post, new { @onsubmit = "return confirm('Вы уверены, что хотите оплатить сделку?');" }))
                            {

                                <input type="hidden" name="id" value="@Model.Id" />
                                <input type="submit" name="Pay" value="Оплатить" class="btn btn-order-pay mt-3" />


                            }

                        }
                    </div>
                </div>
                <div class="order-details-log-head">
                    <div class="order-details-title">
                        <h4>
                            Журнал событий
                        </h4>
                    </div>


                </div>
                <div class="order-details-log-body">
                    @foreach (var log in Model.Logs)
                    {
                        <div class="order-details-node">
                            <div class="node-circle"></div>
                            <div class="node-name">@log.OldStatus.FinishedName</div>
                            <div class="node-date">@log.TimeStamp</div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>



<div id="modal-dialog" class="modal">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Оставить отзыв продавцу</h4>
                <button type="button" id="close" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <input type="hidden" id="receiverId" name="ReceiverId" value="@Model.SellerId" />

            <div class="modal-body">

                <div class="form-group text-center">
                    <div class="row mb-4">
                        <div class="col-sm-12">
                            <span>Выберите оценку</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="ml-2 mr-2">

                                <input type="radio" id="customRadio1" hidden="hidden" value="" name="Grade" class="smile-radio position-absolute" checked="">
                                <img src="~/Content/Images/feed-smile-pos.png" />
                            </label>

                            <label class="ml-2 mr-2">
                                <input type="radio" id="customRadio1" hidden="hidden" value="" name="Grade" class="smile-radio position-absolute">
                                <img src="~/Content/Images/feed-smile-neg.png" />
                            </label>
                        </div>
                    </div>




                </div>

                <div class="form-group">
                    <textarea id="comment" class="form-control" rows="5"></textarea>
                </div>


            </div>
            <div class="modal-footer">
                <button id="leaveFeedback" type="button" onclick="SendMessage()" class="btn btn-submit">Оставить отзыв</button>
            </div>



        </div>
    </div>
</div>

<div id="m-dialog" class="modal-send">
    <div class="modal-dialog" role="document">
        <div id="m-content-send" class="modal-content-send">
            <div id="m-body" class="modal-body">
                <span class="text-white text" style="font-size: 18px">Спасибо за ваш отзыв!</span>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery-modal-feedback.js"></script>
}

