@model Marketplace.Web.Areas.User.Models.Order.OrderListViewModel
@{
    ViewBag.Title = "SellList";
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}
<div class="page-info">
    <h2>Заказы</h2>
    <p class="lead">Здесь отображается информация по заказам</p>
</div>
<div class="card-custom-account">
    @{await Html.RenderPartialAsync("_Menu"); }
    @{await Html.RenderPartialAsync("_OrderMenu", Model); }
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Заголовок</th>
                <th scope="col">Стстус</th>
                <th scope="col">Покупатель</th>
                <th scope="col">дата</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders)
            {
                <tr data-href="@Url.Action("Details","Order", new { id = order.Id })">
                    <th>@order.Id</th>
                    <td>@order.OfferHeader</td>
                    <td>@order.CurrentStatus</td>
                    <td>@order.BuyerName</td>
                    <td>@order.CreatedDate</td>
                    
                </tr>
            }

        </tbody>
    </table>
</div>



@section scripts
{
    <script>
        $('tr[data-href]').on("click", function () {
            document.location = $(this).data('href');
        });
    </script>

}
