@using Marketplace.Web.HtmlHelpers

@{ 
    var messages = SharedLocalizer["Messages"].Value;
    var offers = SharedLocalizer["Offers"].Value;
    var orders = SharedLocalizer["Orders"].Value;
    var feedbacks = SharedLocalizer["Feedbacks"].Value;
    var settings = SharedLocalizer["Settings"].Value;
}

<div class="row" style="margin-left: -25px; margin-right: -25px">
    <div class="col-lg-12">
        <div class="text-center">
            <ul class="ul-details" style="margin: auto">
                <li class="@Html.IsSelected(actions: "Inbox,Unread,Details", controllers: "Message,Dialog")">
                    <a href="@Url.Action("Inbox","Dialog")"><i class="fas fa-envelope mr-2"></i>@messages</a>
                </li>
                <li class="@Html.IsSelected(actions: "Active,Inactive,Closed", controllers: "Offer")">
                    <a href="@Url.Action("Active","Offer")"><i class="fas fa-box mr-2"></i>@offers</a>
                </li>
                <li class="@Html.IsSelected(actions: "BuyList,SellList,BuyDetails,SellDetails", controllers: "Order")">
                    <a href="@Url.Action("SellList","Order")"><i class="fas fa-boxes mr-2"></i>@orders</a>
                </li>
                <li class="@Html.IsSelected(actions: "All,Positive,Negative", controllers: "Feedback")">
                    <a href="@Url.Action("All","Feedback")"><i class="fas fa-comments mr-2"></i>@feedbacks</a>
                </li>
                <li class="@Html.IsSelected(actions: "Index", controllers: "Settings")">
                    <a href="@Url.Action("Index","Settings")"><i class="fas fa-cog mr-2"></i>@settings</a>
                </li>
            </ul>
        </div>
    </div>
</div>
