@model Marketplace.Web.Models.Offer.OfferListViewModel
@using Marketplace.Web.Extensions
<div class="row">
    <div class="col-lg-4 text-left">
        <span class="offers-count">Найдено @Model.Offers.Count() предложений</span>
    </div>
    <div class="col-lg-4 text-right">
        <span class="offers-count">Сортировать </span>
    </div>
    <div class="col-lg-4 text-right">
        @Html.DropDownListFor(m => m.SearchInfo.SortBy, Model.SortBy, new { @class = "custom-select", @onchange = "submitSearchOfferForm()", @id = "select-sort-list" })

    </div>
</div>


@foreach (var offer in Model.Offers)
{
    <div class="block-offer mt-3">
        <div class="row">
            <div class="col-lg-3">
                <div class="block-offer-image">
                    <a>
                        <img src="~/images/300.png" style="        background-color: #f7f7f7;
        width: 150px;
        height: 130px" />
                    </a>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="block-offer-other">
                    <div class="row">
                        <div class="col-lg-9"><a class="offer-header" href="@Url.Action("Details","Offer", new { id = offer.Id })">@offer.Header</a></div>
                        <div class="col-lg-3 text-right">
                            <span style="font-weight: 500;font-size: 24px;" href="#">$ @offer.Price</span>
                        </div>
                    </div>
                    <div class="row" style="font-size: 14px">
                        <div class="col-lg-8">
                            <div><a href="/u/admin">@offer.UserName</a> </div>
                            <div>Rating: 12</div>

                        </div>
                        <div class="col-lg-4 text-right">
                            <span class="font-14">Оплата гаранта: @offer.SecureTransactionPayer.GetDisplayName()</span>
                        </div>

                    </div>
                    <div class="row mt-2" style="        font-size: 14px">
                        <div class="col-lg-5">
                            <span class="mr-2"><i class="fas fa-history"></i> @offer.RefreshDate.ToShortMonthName()</span>
                            <span><i class="fas fa-gamepad"></i> @offer.Game</span>
                        </div>

                        <div class="col-lg-7 text-right">
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}

