@model Marketplace.Web.Models.FilterListViewModel

@if (Model.TextFilters.Count != 0)
{
    @foreach (var textFilter in Model.TextFilters)
    {
        <div class="form-group">
            <label for="@textFilter.Value">@textFilter.Name</label>
            <select class="custom-select" name="text_filter[@textFilter.Value]" id="@textFilter.Value">
                <option value="none">Выбрать</option>
                @foreach (var value in textFilter.PredefinedValues)
                {
                    <option value="@value.Value">@value.Name</option>
                }
            </select>
        </div>
    }

}

@if (Model.RangeFilters.Count != 0)
{
    @foreach (var rangeFilter in Model.RangeFilters)
    {
        <div class="form-group">
            <label class="col-form-label" for="@rangeFilter.Value">@rangeFilter.Name</label>
            <input type="text" class="form-control" name="range_filter[@rangeFilter.Value]" id="@rangeFilter.Value">
        </div>
    }

}